<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Monwonatan">
        <title>Profile</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>

    <body>
        <form method="post">
            <fieldset>
                <legend>Welcome</legend>
                <label><span>Login </span><input type="text" name="login" value="login"/></br></label>
                <label><span>Password </span><input type="password" name="password" value="password"/></br></label>
                <label><input type="submit" value="Submit"></label>
            </fieldset>
        </form>
    </body>
</html>