<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Monwonatan">
        <title>Profile</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>

    <body>
        <form method="post">
            <fieldset>
                <label><span>id </span><input type="text" name="id" value="id"/></br></label>
                <label><span>firstname </span><input type="text" name="firstname" value="firstname"/></br></label>
                <label><span>lastname </span><input type="text" name="lastname" value="lastname"/></br></label>
                <label><span>age </span><input type="text" name="age" value="age"/></br></label>
                <label><input type="submit" value="Submit"></label>
            </fieldset>
        </form>
    </body>
</html>
